nyt-metadata/
sample_data
tmp
data
.DS_Store
.venv
creds.sh
*.tsv
*.csv
*.json
*.Rda
*.rds
*.jsonl
*DEPRECATED*
old
z_old
deleteme
annotation_output
annotation_output*
scratch*
payment/
paper/
submission
literature
presentation
00*
news/
_book
_main_files
